a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
}

.header-img {
    position: left;
    margin-left: -10vw;
}

.nav-link {
    color: white;
}

.btn-group {
    align: center;
}

.divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.socials {
    display: block;
    position: relative;
    margin-left: 37%;
}

.socials_links {
    position: relative;
    padding-left: 0%;
    text-decoration: none;
}

.socials_links .image {
    transition: opacity .5s;
}

.socials_links:hover .image {
    opacity: 0.3;
}

.socialimg {
    width: 10%;
    height: 10%;
}

.centered-text {
    text-align: center;
}

.bkgrnd-img {
    background-repeat: repeat;
    background-size: 100%;
    /* background-image: url(bkgrnd.jpg); */
}

.slower {
    transition: transform 5s ease-in-out;
}

.th {
    font-size: 1vw;
}


@media screen and (max-width:600px) {
    .hideOnSmall {
        display: none !important;
    }
}


.navbar {
    border-bottom: grey 3px solid;
}

.body {
    background-color: grey !important;
}

.mostbody {
    width: 80%;
    margin: auto;
}

.grid-container-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bio-grid-item {
    grid-column: 2;
    grid-row: 1;
}

.bio-about-item {
    grid-column: 3;
    grid-row: 1;
    margin-left: -15%;
}

.self-portrait-item {
    grid-column: 1;
    grid-row: 1;
    max-height: 350px;
    margin-left: 25%;
    margin-top: 5%;
}

.biography {
    color: white;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 10%;
}

.bkg-lb {
    background-color: #7EB2DD;
}

.bkg-db {
    background-color: #445E93;
}

img {
    object-fit: fill;
    max-width: inherit;
    max-height: inherit;
}

.github-grid-item {
    max-width: 100%;
}